/* Custom color theme properties */
:root {
  --f7-theme-color: #dc0000;
  --f7-theme-color-rgb: 220, 0, 0;
  --f7-theme-color-shade: #b30000;
  --f7-theme-color-tint: #ff0606;
}
html {
  overflow-y: hidden;
}
.homePage {
}
.findElevatorBtn {
  border-radius: 50%;
  height: 80vw;
  width: 80vw;
  text-transform: capitalize;
  font-size: 5vw;
}
.statsTitle {
  font-size: 20px;
}
/* Your app custom styles here */
