/* Custom color theme properties */
:root {
  --f7-theme-color: #dc0000;
  --f7-theme-color-rgb: 220, 0, 0;
  --f7-theme-color-shade: #b30000;
  --f7-theme-color-tint: #ff0606;
}

/* Your app custom styles here */